extends layout

.header
  block header
    a.button(href="/counter/:userId") Your counter
    a.button(href="/counter") All counter
    a.button(href="/user/:userId") Profile
.sidebar-left
.main
  block main
    h1= message
    h2= error.status
    pre #{error.stack}     
.sidebar-right
.footer
  block footer
    form(action='/logout')
      button(type='submit') Log out
