extends layout

.header
  block header
    a.button(href="/counter/:id") Your counter
    a.button(href="/counter") All counter
    a.button(href="/profile/:id") Profile
.sidebar-left
.main
  block main
    div
      a.loginReg(href='/registration')
        p Registration
      a.loginReg(href='/login')
        p Log in
.sidebar-right
.footer
  block footer
    form(action='/logout')
      button(type='submit') Log out