doctype html
html
  head
    title= 'Counter'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  a.topic(href="/")
    #topic_notes Counter
  .header
    block header
  .sidebar-left
  .main
    block main
  .sidebar-right
  .footer
    block footer
