extends layout

.header
  block header
    a.button(href="/counter/:id") Your counter
    a.button(href="/counter") All counter
    a.button(href="/profile/:id") Profile
.sidebar-left
.main
  block main
    form(method='POST' action='/users')
          div
            label(for='name') Username
            input(type='text' placeholder='name' name='name')
          div
            label(for='password') Password
            input(type='password' placeholder='password' name='password')
          button(type='submit') Log on
.sidebar-right
.footer
  block footer
    form(action='/logout')
      button(type='submit') Log out
